
/* reset rules */
*{
    margin:0;
}

a{
    text-decoration: none;
    color:current-color;
}

ul,ol,menu{
    list-style: none;
}

/* fine reset rules */



/* main style */
.main-content{
    background-color:#F6F8F9;
    padding: 50px;
}
.main-content h1 {
    display: none;
}
/* fine main style */


.container{
    max-width: 50%;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 10px;
}

/* action section */

.action{
    padding: 13px 50px ;
    border-bottom: 1px #F6F8F9 solid;
}

.action button{
    padding: 5px 10px;
    border-radius: 5px;
}

.button-task{
    background-color: #14aaf5;
    font-weight: bold;
    border: 1px #14aaf5 solid;
}

.button-section{
    background-color: white;
    border: 1px gray solid;
}

/* fine action section */

/* todolist part */
.todolist{
    padding: 40px 15px;
}
.todolist li{
    margin-bottom: 10px;
}
.task-section>li{
    font-weight: bold;
    font-size: 20px;
}
 .task-list{
    font-weight: 100;
    font-size: 16px;
    padding: 0 0 10px 0;
   
 }

 .task-list-element > * {
    vertical-align: middle;
 }
 
 .task-list-element span, p{
    display:inline-block;
 }

 .checkmark{
    color: green;
 }
 span.checkmark{
    border: 1px green solid;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
 }

 .x-mark{
    color: red;
 }

 span.x-mark{
    border: 1px red solid;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
 }

 span.editorial-tag{
    border: 1px red solid;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;

 }

/* todolist part end */
